
a {
    text-decoration: none;
    color: black;
}
@media (min-width:720px) {
nav {
    background-color: rgb(195, 132, 255);
    display: flex;
    justify-content: space-around;
    padding: 2em;
}
}
nav p{
    font-size: .9em;
}

@media (min-width:800px) {
nav p{
    font-size: 1.07em;
}
}
@media (min-width:880px) {
nav p{
    font-size: 1.13em;
}
#Mlocal p{
    font-size: 1.1em;
}
}
@media (min-width:980px) {
nav p{
    font-size: 1.3em;
}
#Mlocal p{
    font-size: 1.2em;
}
}
@media (min-width:1081px) {
nav p{
    font-size: 1.4em;
}
#Mlocal p{
    font-size: 1.3em;
}
}
@media (min-width:1181px) {
nav p{
    font-size: 1.5em;
}
#Mlocal p{
    font-size: 1.4em;
}
}
@media (min-width:1281px) {
nav p{
    font-size: 1.6em;
}
#Mlocal p{
    font-size: 1.5em;
}
}
@media (min-width:1381px) {
nav p{
    font-size: 1.7em;
}
#Mlocal p{
    font-size: 1.6em;
}
}
@media (min-width:1481px) {
nav p{
    font-size: 1.8em;
}
#Mlocal p{
    font-size: 1.7em;
}
}
@media (min-width:1581px) {
nav p{
    font-size: 1.9em;
}
#Mlocal p{
    font-size: 1.8em;
}
}
main {
    padding: 2em;
    text-align: center;
    background-color: lightblue;
}
main h2 {
    font-size: 3em;
}
.pai {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-width: 100%;
    margin: 0%;
    padding: 0%;
}
.img{
    width: 33%;
    padding: 0;
}
.img img{
    width: 100%;
    display: block;
}
.text{
    width: 67%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0px;
}
.text h3{
    font-size: 1.8em;
}
.text button{
    padding: .3em;
    border: 1px solid  rgb(177, 98, 251);
    background-color: rgb(195, 132, 255);
    border-radius: 20px;
}
.text p{ 
    padding-left: .2em;
    padding-right: .2em;
    padding-bottom: 1em;
    padding-top: 1em;
}
@media (min-width:736px) {
.text p{
    font-size: 1.2em;
}
.text h3{
    font-size: 1.8em;
}
.text button{
    font-size: 1.2em;
}
}
@media (min-width:940px) {
.text p{
    font-size: 1.6em;
}
.text h3{
    font-size: 2em;
}
.text button{
    font-size: 1.4em;
}
}
@media (min-width:1067px) {
.text p{
    font-size: 1.8em;
}
.text h3{
    font-size: 2.2em;
}
.text button{
    font-size: 1.6em;
}
}
@media (min-width:1131px) {
.text p{
    font-size: 2em;
}
.text h3{
    font-size: 2.4em;
}
.text button{
    font-size: 1.8em;
}
}
@media (min-width:1319px) {
.text p{
    font-size: 2.2em;
}
.text h3{
    font-size: 2.6em;
}
.text button{
    font-size: 2em;
}
}
@media (min-width:1444px) {
.text p{
    font-size: 2.4em;
}
.text h3{
    font-size: 2.8em;
}
.text button{
    font-size: 2.2em;
}
}
#Mlocal p{
    padding-top:1em;
    padding-bottom: 1em;;
}
.ltext{
    width: 75%;
}
.figuras{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    gap:2em;
}
.lpai{
    display: flex;
    gap: 2em;
}
@media (max-width:820px) {
    .figuras{
        gap:6em;
    }
}
.Cpai {
    display: flex;
    width: 100%;
    border-width: 100%;
    margin: 0%;
    padding: 0%;
    border: 0;
}
.Cimg{
    width: 30%;
}
.Ctext{
    width: 70%;
}
.Culttext p{
    padding-bottom: 0;
}
.roxo{
    background-color: rgb(195, 132, 255);
    margin-left: -2em;
    margin-right: -2em;
    padding: 2em;
}
.Pimg{
    width: 30%;
}
.Ppai{
    justify-content: space-between;
    border: 0;
}