
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
@media (max-width:414px) {
header br {
    display: none;
}
nav p{
    font-size: 1.2em;
    margin: .15em;
}
nav{
    background-color: rgb(195, 132, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .85em;
}
header{
    text-align: center;
}
#bah, #tche {
    margin-top: 1em;
}
.figuras {
    position:absolute;
    display: none;
}
.pai{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-width: 100%;
}
.img{
    flex: 1;
}
.text{
    flex: 2;
}
.text p{
    padding: 0;
}
.text h3{
    padding-top: .8em;
}
.img img{
    width: 100%;
    display: block;
}
#Mpaisagens .pai, #Mcultura .pai, #Mcomida .pai, #Mpers .pai, #Mhistoria .pai, #Matividades .pai{
    flex-direction: column-reverse;
    align-items: center;
}
.Ppai {
    border: 0;
}
.Pimg img{
    margin-top: .5em;
}
#Mpaisagens h3{
    font-weight: bold;
}
}
@media (min-width:668px) {
nav {
    background-color: rgb(195, 132, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}
nav p{
    font-size: .81em;
}
}
@media (min-width:668px) {
nav p{
    font-size: .77em;
}
}
@media (min-width:720px) {
nav p{
    font-size: .87em;
}
}
@media (min-width:800px) {
nav p{
    font-size: 0.97em;
}
}
@media (min-width:880px) {
nav p{
    font-size: 1.07em;
}
#Mlocal p{
    font-size: 1.1em;
}
}
@media (min-width:980px) {
nav p{
    font-size: 1.2em;
}
#Mlocal p{
    font-size: 1.2em;
}
}
@media (min-width:1081px) {
nav p{
    font-size: 1.3em;
}
#Mlocal p{
    font-size: 1.3em;
}
}
@media (min-width:1181px) {
nav p{
    font-size: 1.4em;
}
#Mlocal p{
    font-size: 1.4em;
}
}
@media (min-width:1281px) {
nav p{
    font-size: 1.5em;
}
#Mlocal p{
    font-size: 1.5em;
}
}
@media (min-width:1381px) {
nav p{
    font-size: 1.6em;
}
#Mlocal p{
    font-size: 1.6em;
}
}
@media (min-width:1481px) {
nav p{
    font-size: 1.7em;
}
#Mlocal p{
    font-size: 1.7em;
}
}
@media (min-width:1581px) {
nav p{
    font-size: 1.8em;
}
#Mlocal p{
    font-size: 1.8em;
}
}
main {
    padding: 2em;
    text-align: center;
    background-color: lightblue;
}
main h2 {
    font-size: 3em;
}
@media (min-width:700px) {
.pai {
    display: flex;
    width: 100%;
    border: 1px solid black;
    border-width: 100%;
    margin: 0%;
    padding: 0%;
}
.img{
    width: 33%;
    padding: 0;
}
.img img{
    width: 100%;
    height: auto;
    display: block;
}
.text{
    width: 67%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0px;
}
.Cimg{
    width: 30%;
}
.Ctext{
    width: 70%;
}
.Culttext p{
    padding-bottom: 0;
}
.Pimg{
    width: 30%;
}
.Ppai{
    justify-content: space-between;
    border: 0;
}
}
.text h3{
    font-size: 1.8em;
}
.text button{
    padding: .3em;
    border: 1px solid  rgb(177, 98, 251);
    background-color: rgb(195, 132, 255);
    border-radius: 20px;
}
.text p{ 
    padding-left: .2em;
    padding-right: .2em;
    padding-bottom: 1em;
    padding-top: 1em;
}
@media (min-width:668px) {
.text p{
    font-size: 1.1em;
}
.text h3{
    font-size: 1.7em;
}
.text button{
    font-size: 1.1em;
}
}
@media (min-width:736px) {
.text p{
    font-size: 1.2em;
}
.text h3{
    font-size: 1.8em;
}
.text button{
    font-size: 1.2em;
}
}
@media (min-width:941px) {
.text p{
    font-size: 1.6em;
}
.text h3{
    font-size: 2em;
}
.text button{
    font-size: 1.4em;
}
}
@media (min-width:1067px) {
.text p{
    font-size: 1.8em;
}
.text h3{
    font-size: 2.2em;
}
.text button{
    font-size: 1.6em;
}
}
@media (min-width:1160px) {
.text p{
    font-size: 2em;
}
.text h3{
    font-size: 2.4em;
}
.text button{
    font-size: 1.8em;
}
}
@media (min-width:1319px) {
.text p{
    font-size: 2.2em;
}
.text h3{
    font-size: 2.6em;
}
.text button{
    font-size: 2em;
}
}
@media (min-width:1444px) {
.text p{
    font-size: 2.4em;
}
.text h3{
    font-size: 2.8em;
}
.text button{
    font-size: 2.2em;
}
}
@media (min-width:1592px) {
.text p{
    font-size: 2.6em;
}
.text h3{
    font-size: 3em;
}
.text button{
    font-size: 2.4em;
}
}
@media (min-width:1719px) {
.text p{
    font-size: 2.8em;
}
.text h3{
    font-size: 3.2em;
}
.text button{
    font-size: 2.6em;
}
#Mlocal p{
    font-size: 2em;
}
}
@media (min-width:1846px) {
.text p{
    font-size: 3em;
}
.text h3{
    font-size: 3.4em;
}
.text button{
    font-size: 2.8em;
}
#Mlocal p{
    font-size: 2.2em;
}
}
#Mlocal p{
    padding-top:1em;
    padding-bottom: 1em;;
}
@media (min-width:700px){
    .ltext{
    width: 75%;
}
.figuras{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    gap:2em;
}
.lpai{
    display: flex;
    gap: 2em;
}
}
@media (max-width:880px) {
    .figuras{
        gap:6em;
    }
}
.roxo{
    background-color: rgb(195, 132, 255);
    margin-left: -2em;
    margin-right: -2em;
    padding: 2em;
}